@import "../auth.scss";

.app-auth-body {
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  padding: 40px;
  width: 500px !important;
  height: 460px;
  margin: auto auto;
}
.spinner-border {
  width: 28px;
  height: 28px;
  color: #fff;
}
