<div *ngIf="showStatus">
  <span [innerHTML]="alertMessage" class="alertMessage error"></span>
</div>
<p-toast position="top-left"></p-toast>
<div class="app app-login p-0">
  <div class="row mx-0 g-0 app-auth-wrapper">
    <div class="col-12 col-md-12 col-lg-12 auth-main-col text-center p-5">
      <div class="d-flex flex-column align-content-end">
        <div class="app-auth-body mx-auto">
          <div class="app-auth-branding mb-4">
            <a class="app-logo"><img class="logo-icon me-2" src="assets/images/app-logo.png" alt="logo" /></a>
          </div>
          <h2 class="auth-heading text-center mb-5">Sign In</h2>
          <div class="auth-form-container text-start">
            <form class="auth-form login-form" [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
              <div class="email mb-3">
                <label class="sr-only" for="signin-email">Email</label>
                <div class="form-group">
                  <!-- <label>Email</label> -->
                  <div class="field-input">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" formControlName="email" class="form-control" placeholder="Email"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />

                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">
                        Email is required
                      </div>
                      <div *ngIf="f.email.errors.email">Email is invalid</div>
                    </div>
                  </div>
                </div>
              </div>
              <!--//form-group-->
              <div class="password mb-3">
                <!-- <label for="signin-password">Password</label> -->
                <div class="field-input">
                  <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                  <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">
                      Password is required
                    </div>
                    <div *ngIf="f.password.errors.minlength">
                      Password must be at least 6 characters
                    </div>
                    <div *ngIf="f.password.errors.maxlength">
                      Username must not exceed 40 characters
                    </div>
                  </div>
                </div>

                <div class="extra mt-3 row justify-content-between">
                  <div class="col-6">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="RememberPassword" />
                      <label class="form-check-label" for="RememberPassword">
                        Remember me
                      </label>
                    </div>
                  </div>
                  <!--//col-6-->
                  <div class="col-6">
                    <div class="forgot-password text-end">
                      <a>Forgot password?</a>
                    </div>
                  </div>
                  <!--//col-6-->
                </div>
                <!--//extra-->
              </div>
              <!--//form-group-->
              <div class="form-group">
                <button type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto">
                  Log In
                </button>
              </div>
            </form>

            <div class="auth-option text-center pt-5 d-none">
              No Account? Sign up
              <a class="text-link" routerLink="/Auth/verifyPhone">here</a>.
            </div>
          </div>
          <!--//auth-form-container-->
        </div>
        <!--//auth-body-->
      </div>
      <!--//flex-column-->
    </div>
  </div>
  <!--//row-->
</div>
