<app-nav-bar></app-nav-bar>
<div class="app-wrapper shop-wrapper-container">
  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="row mx-0 g-3 mb-4 align-items-center justify-content-between">
      <div class="w-100">
        <div class="page-utilities">
          <div
            class="row mx-0 mb-3 g-2 justify-content-start justify-content-md-end align-items-center"
          >
            <div class="text-center">
              <button
                (click)="openModal(template)"
                type="submit"
                class="btn app-btn-primary theme-btn mx-auto"
              >
                Add Blog Post
              </button>
            </div>
          </div>
          <!--//row-->
          <!-- <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                <table class="table app-table-hover mb-0 text-left">
                  <thead>
                    <tr>
                      <th class="cell">sr#</th>
                      <th class="cell">username</th>
                      <th class="cell">Role</th>
                      <th class="cell">Active role</th>
                      <th class="cell">Email address</th>
                      <th class="cell">Created at</th>
                      <th class="cell">Active</th>
                      <th class="cell">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of userList">
                      <td class="cell">{{item.srNum}}</td>
                      <td class="cell">{{item.uname}}</td>
                      <td class="cell">{{item.role}}</td>
                      <td class="cell">{{item.activeRole}}</td>
                      <td class="cell">{{item.email}}</td>
                      <td class="cell">{{item.time}}</td>
                      <td class="cell">Active</td>
                      <td class="cell">Delete</td>

                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div> -->

          <p-table
            #dt2
            [value]="ambassadorList"
            dataKey="id"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            [loading]="loading"
            styleClass="p-datatable-customers"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="[
              'name',
              'country.name',
              'representative.name',
              'status'
            ]"
          >
            <ng-template pTemplate="caption">
              <div class="d-flex justify-content-between">
                <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    (input)="dt2.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search keyword"
                  />
                </span>

                <p-columnFilter
                  field="status"
                  matchMode="equals"
                  [showMenu]="false"
                >
                  <ng-template
                    pTemplate="filter"
                    let-value
                    let-filter="filterCallback"
                  >
                    <!-- <p-dropdown
                      [ngModel]="value"
                      [options]="statuses"
                      (onChange)="filter($event.value)"
                      placeholder="Select Role"
                      [showClear]="true"
                    >
                      <ng-template let-option pTemplate="item">
                        <span
                          [class]="'customer-badge status-' + option.value"
                          >{{ option.label }}</span
                        >
                      </ng-template>
                    </p-dropdown> -->
                  </ng-template>
                </p-columnFilter>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th class="cell">sr#</th>
                <th class="cell">Title</th>
                <th class="cell">Author</th>
                <th class="cell">Short Description</th>
                <th class="cell">Created At</th>
                <th class="cell">Active</th>
                <th class="cell">Action</th>
              </tr>
              <!-- <tr>
              <th>
                <p-columnFilter type="text" field="name"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="country.name"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter field="representative" matchMode="in" [showMenu]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any"
                      (onChange)="filter($event.value)" optionLabel="name">
                      <ng-template let-option pTemplate="item">
                        <div class="p-multiselect-representative-option">
                          <span class="p-ml-1">{{option.name}}</span>
                        </div>
                      </ng-template>
                    </p-multiSelect>
                  </ng-template>
                </p-columnFilter>
              </th>
              <th>
                <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any"
                      [showClear]="true">
                      <ng-template let-option pTemplate="item">
                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="boolean" field="verified"></p-columnFilter>
              </th>
            </tr> -->
            </ng-template>
            <ng-template pTemplate="body" let-ambassadors>
              <tr>
                <td>
                  {{ ambassadors.srNum }}
                </td>
                <td>
                  <span class="image-text">
                    <img src="../../../../assets/images/users/user-1.jpg" />
                  </span>
                </td>
                <td>
                  <span class="image-text">{{ ambassadors.name }}</span>
                </td>
                <td>
                  <span class="customer-badge status">{{
                    ambassadors.tagLine
                  }}</span>
                </td>
                <td>
                  <span>{{ ambassadors.createdAt }}</span>
                </td>

                <td>
                  <span>
                    <p-inputSwitch [(ngModel)]="checked1"></p-inputSwitch>
                  </span>
                </td>
                <td>
                  <span class="action-col">
                    <i
                      class="pi pi-trash"
                      (click)="OnDeleteRecord('right')"
                    ></i>
                    <i
                      class="mx-1 pi pi-pencil"
                      (click)="openModal(editBlogPost)"
                    ></i>
                    <i class="pi pi-eye"></i>
                  </span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">No user found.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <!--//table-utilities-->
      </div>
      <!--//col-auto-->
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add New Blog Post</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="modalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="shop-basicForm">
        <div class="blogform" style="padding: 0">
          <div class="profile">
            <div class="FeaturedImg">
              <div
                id="imagePreview"
                [style.backgroundImage]="'url(' + FeaturedImageUrl + ')'"
              ></div>
            </div>
          </div>
          <div class="profile">
            <div class="profileImg">
              <div
                id="imagePreview"
                [style.backgroundImage]="'url(' + ProfileimageUrl + ')'"
              ></div>
            </div>
          </div>
        </div>

        <form [formGroup]="createBlogPost" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <label>Blog Title</label>
                  <input
                    type="text"
                    formControlName="title"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.title.errors
                    }"
                    placeholder="Enter Blog Titile"
                  />
                  <div
                    *ngIf="submitted && f.title.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.title.errors.required">
                      Blog Titile is required
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <label>Short Description</label>
                  <textarea
                    id="shortdescription"
                    [ngClass]="{
                      'is-invalid': submitted && f.description.errors
                    }"
                    class="form-control descript"
                    formControlName="description"
                    rows="3"
                    cols="20"
                  >
                  </textarea>
                  <div
                    *ngIf="submitted && f.description.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.description.errors.required">
                      Short Description is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <label>Author Name</label>
                  <input
                    type="text"
                    formControlName="authorName"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.authorName.errors
                    }"
                    placeholder="Enter AuthorName"
                  />
                  <div
                    *ngIf="submitted && f.authorName.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.authorName.errors.required">
                      AuthorName is required
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <label>Select Category</label>

                  <p-dropdown
                    [options]="catagory"
                    placeholder="Select a User Role"
                    [ngModel]="selectedcatagory"
                    [showClear]="true"
                    [style]="{ width: '253px' }"
                    (onChange)="($event.value)"
                    formControlName="category"
                    [ngClass]="{
                      'is-invalid': submitted && f.category.errors
                    }"
                  >
                  </p-dropdown>

                  <div
                    *ngIf="submitted && f.category.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.category.errors.required">
                      Select Catagory is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <label>Featured Image</label>
                  <input
                    class="hidden"
                    type="file"
                    id="uploadfile"
                    name="uploadfile"
                    #featuredImage
                    ngf-max-size="2MB"
                    formControlName="featuredImage"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.featuredImage.errors
                    }"
                    accept=".png, .jpg, .jpeg"
                    #FeaturedImg
                    (change)="uploadFeauterdFile($event)"
                  />
                  <div
                    *ngIf="submitted && f.featuredImage.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.featuredImage.errors.required">
                      Featured Image is required
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <label>Author Image</label>
                  <input
                    type="file"
                    formControlName="authorProfile"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.authorProfile.errors
                    }"
                    id="imageUpload"
                    accept=".png, .jpg, .jpeg"
                    #profileImg
                    (change)="uploadProfileFile($event)"
                  />
                  <div
                    *ngIf="submitted && f.authorProfile.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.authorProfile.errors.required">
                      Author Image is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <label>Secound Featured Image </label>
                  <input
                    type="file"
                    formControlName="secoundFeaturedImage"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.secoundFeaturedImage.errors
                    }"
                    id="imageUpload"
                    accept=".png, .jpg, .jpeg"
                    #SecFeaturedImg
                    (change)="uploadSecFeauterdFile($event)"
                  />
                  <div
                    *ngIf="submitted && f.secoundFeaturedImage.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.secoundFeaturedImage.errors.required">
                      secoundFeatured Image is required
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <label>Video Link </label>
                  <input
                    type="text"
                    formControlName="videoLink"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.videoLink.errors
                    }"
                    placeholder="Enter Video embedded Link"
                  />
                  <div
                    *ngIf="submitted && f.videoLink.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.videoLink.errors.required">
                      Video Link is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <label>Blog Details</label>
                  <textarea
                    id="details"
                    [ngClass]="{
                      'is-invalid': submitted && f.details.errors
                    }"
                    class="form-control descript"
                    formControlName="details"
                    rows="5"
                    cols="50"
                  >
                  </textarea>
                  <div
                    *ngIf="submitted && f.details.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.details.errors.required">
                      Type Details is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button
              type="submit"
              class="btn app-btn-primary w-100 theme-btn mx-auto"
              (click)="CreateNewUser()"
            >
              Submit
            </button>
            <!-- <button type="button" (click)="onReset()" class="btn btn-warning float-right">
              Reset
            </button> -->
          </div>
        </form>
      </div>
    </div>
  </ng-template>

  <!-- Edit Blog Post  -->
  <ng-template #editBlogPost>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add New Blog Post</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="modalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="shop-basicForm">
        <form [formGroup]="createBlogPost" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <label>Blog Title</label>
                  <input
                    type="text"
                    formControlName="title"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.title.errors
                    }"
                    placeholder="Enter Blog Titile"
                  />
                  <div
                    *ngIf="submitted && f.title.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.title.errors.required">
                      Blog Titile is required
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <label>Short Description</label>
                  <textarea
                    id="shortdescription"
                    [ngClass]="{
                      'is-invalid': submitted && f.description.errors
                    }"
                    class="form-control descript"
                    formControlName="description"
                    rows="3"
                    cols="20"
                  >
                  </textarea>
                  <div
                    *ngIf="submitted && f.description.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.description.errors.required">
                      Short Description is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <label>Author Name</label>
                  <input
                    type="text"
                    formControlName="authorName"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.authorName.errors
                    }"
                    placeholder="Enter AuthorName"
                  />
                  <div
                    *ngIf="submitted && f.authorName.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.authorName.errors.required">
                      AuthorName is required
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <label>Select Category</label>

                  <p-dropdown
                    [options]="catagory"
                    placeholder="Select a User Role"
                    [ngModel]="selectedcatagory"
                    [showClear]="true"
                    [style]="{ width: '253px' }"
                    (onChange)="($event.value)"
                    formControlName="category"
                    [ngClass]="{
                      'is-invalid': submitted && f.category.errors
                    }"
                  >
                  </p-dropdown>

                  <div
                    *ngIf="submitted && f.category.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.category.errors.required">
                      Select category is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <label>Featured Image</label>
                  <input
                    type="file"
                    formControlName="featuredImage"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.featuredImage.errors
                    }"
                    id="imageUpload"
                    accept=".png, .jpg, .jpeg"
                    #fileInput
                    (change)="uploadFeauterdFile($event)"
                  />
                  <div
                    *ngIf="submitted && f.featuredImage.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.featuredImage.errors.required">
                      Featured Image is required
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <label>Author Image</label>
                  <input
                    type="file"
                    formControlName="authorProfile"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.authorProfile.errors
                    }"
                    id="imageUpload"
                    accept=".png, .jpg, .jpeg"
                    #fileInput
                    (change)="uploadProfileFile($event)"
                  />
                  <div
                    *ngIf="submitted && f.authorProfile.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.authorProfile.errors.required">
                      Author Image is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <label>Secound Featured Image </label>
                  <input
                    type="file"
                    formControlName="secoundFeaturedImage"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.secoundFeaturedImage.errors
                    }"
                    id="imageUpload"
                    accept=".png, .jpg, .jpeg"
                    #SecFeaturedImg
                    (change)="uploadSecFeauterdFile($event)"
                  />
                  <div
                    *ngIf="submitted && f.secoundFeaturedImage.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.secoundFeaturedImage.errors.required">
                      secoundFeatured Image is required
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <label>Video Link </label>
                  <input
                    type="text"
                    formControlName="videoLink"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.videoLink.errors
                    }"
                    placeholder="Enter Video embedded Link"
                  />
                  <div
                    *ngIf="submitted && f.videoLink.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.videoLink.errors.required">
                      Video Link is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <label>Blog Details</label>
                  <textarea
                    id="details"
                    [ngClass]="{
                      'is-invalid': submitted && f.details.errors
                    }"
                    class="form-control descript"
                    formControlName="details"
                    rows="5"
                    cols="50"
                  >
                  </textarea>
                  <div
                    *ngIf="submitted && f.details.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.details.errors.required">
                      Type Details is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button
              type="submit"
              class="btn app-btn-primary w-100 theme-btn mx-auto"
              (click)="CreateNewUser()"
            >
              Submit
            </button>
            <!-- <button type="button" (click)="onReset()" class="btn btn-warning float-right">
              Reset
            </button> -->
          </div>
        </form>
      </div>
    </div>
  </ng-template>
  <p-confirmDialog
    appendTo="body"
    header="Confirmation"
    key="deleteAlert"
    [style]="{ width: '30vw' }"
    [baseZIndex]="10000"
    styleClass="dialog-filters"
  ></p-confirmDialog>
  <p-toast></p-toast>
</div>
