<app-nav-bar></app-nav-bar>

<div class="app-wrapper shop-wrapper-container">
  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="row mx-0 g-3 mb-4 align-items-center justify-content-between">
      <div class="w-100">
        <div class="page-utilities">
          <div
            class="row mx-0 mb-3 g-2 justify-content-start justify-content-md-end align-items-center"
          >
            <div class="text-center">
              <button
                (click)="AmbassdaorModal(true)"
                type="submit"
                class="btn app-btn-primary theme-btn mx-auto"
              >
                Add New Ambassador
              </button>
            </div>
          </div>

          <p-table
            #dt2
            [value]="ambassadorList"
            dataKey="id"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            [loading]="loading"
            styleClass="p-datatable-customers"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="[
              'name',
              'country.name',
              'representative.name',
              'status'
            ]"
          >
            <ng-template pTemplate="caption">
              <div class="d-flex justify-content-between">
                <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="searchText"
                    (ngModelChange)="search()"
                    placeholder="Search keyword"
                  />
                </span>

                <p-columnFilter
                  field="status"
                  matchMode="equals"
                  [showMenu]="false"
                >
                  <ng-template
                    pTemplate="filter"
                    let-value
                    let-filter="filterCallback"
                  >
                    <p-dropdown
                      [ngModel]="value"
                      [options]="statuses"
                      (onChange)="filter($event.value)"
                      placeholder="Select Role"
                      [showClear]="true"
                    >
                      <ng-template let-option pTemplate="item">
                        <span
                          [class]="'customer-badge status-' + option.value"
                          >{{ option.label }}</span
                        >
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th class="cell">sr#</th>
                <th class="cell">Profile Image</th>
                <th class="cell">Name</th>
                <th class="cell">Tagline</th>
                <th class="cell">Created At</th>
                <th class="cell">Description</th>
                <th class="cell">Active</th>
                <th class="cell">Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ambassadors>
              <tr *ngFor="let ambassadorsData of AbbassadorData; index as i">
                <td>
                  {{ i + 1 }}
                </td>
                <td>
                  <span class="image-text">
                    <img src="{{ ambassadorsData.picture }}" />
                  </span>
                </td>
                <td>
                  <span class="image-text">{{ ambassadorsData.name }}</span>
                </td>
                <td>
                  <span class="customer-badge status">{{
                    ambassadorsData.tagLine
                  }}</span>
                </td>
                <td>
                  <span>{{ ambassadorsData.createdAt | date: "medium" }}</span>
                </td>
                <td>
                  <span>{{ ambassadorsData.description }}</span>
                </td>
                <td>
                  <span>
                    <p-inputSwitch
                      [(ngModel)]="ambassadorsData.active"
                      (ngModelChange)="updateButtonState(ambassadorsData)"
                    ></p-inputSwitch>
                  </span>
                </td>
                <td>
                  <span class="action-col">
                    <i
                      class="pi pi-trash"
                      (click)="OnDeleteRecord(ambassadorsData._id)"
                    ></i>

                    <i
                      class="mx-1 pi pi-pencil"
                      (click)="editAmbassador(ambassadorsData)"
                    >
                    </i>

                    <i class="pi pi-eye"></i>
                  </span>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">No user found.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <!--//table-utilities-->
      </div>
      <!--//col-auto-->
    </div>
  </div>

  <p-dialog
    header="Header"
    [(visible)]="openCreateEditModal"
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
  >
    <p-header>
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          {{
            editAmbassadorData == undefined
              ? "Add New Ambassador"
              : "Update Ambassador Record"
          }}
        </h4>
      </div>
    </p-header>
    <app-add-ambassador
      (modalChange)="AmbassdaorModal(false)"
      [editAmbassadorData]="editAmbassadorData"
    >
    </app-add-ambassador>
  </p-dialog>

  <p-confirmDialog
    appendTo="body"
    header="Confirmation"
    key="deleteAlert"
    [style]="{ width: '30vw' }"
    [baseZIndex]="10000"
    styleClass="dialog-filters"
  ></p-confirmDialog>
  <p-toast></p-toast>
</div>
