<!--MDB Tables-->
<!-- <div class="card mb-4">
  <div class="card-body"> -->
<!-- Grid row -->
<div class="row">
  <!-- Grid column -->
  <!-- <div class="col-md-12"> -->
  <h5 class="ml-4 font-bold latestUser">Latest Register User</h5>
  <!-- </div> -->
  <!-- Grid column -->
</div>
<!-- Grid row -->
<table class="table table-hover table table-striped">
  <thead>
    <tr>
      <th>S#</th>
      <th>Image</th>
      <th>Name</th>
      <th>Register Country</th>
      <th>Date & Time</th>
    </tr>
  </thead>
  <tbody class="">
    <tr class="" *ngFor="let item of latestUsers; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <img src="../../../../assets/images/profiles/profile-2.png" alt="" />
      </td>
      <td>{{ item.fullName }}</td>
      <td>{{ item.location.country }}</td>
      <td>{{ item.createdAt | date: "short" }}</td>
    </tr>
  </tbody>
</table>

<!-- </div>
</div> -->
<!--MDB Tables-->
