<app-nav-bar></app-nav-bar>
<div class="app-wrapper shop-wrapper-container">
  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="row mx-0 g-3 mb-4 align-items-center justify-content-between">
      <div class="w-100">
        <div class="page-utilities">
          <div class="row mx-0 mb-3 g-2 justify-content-start justify-content-md-end align-items-center">
            <div class="text-center">
              <button (click)="collaboratorModal(true)" type="submit" class="btn app-btn-primary theme-btn mx-auto">
                Add New Collaborator
              </button>
            </div>
          </div>

          <p-table #dt2 [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="apiDataLoad($event)"
            [value]="CollaboratorData" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[5,10, 25, 50]" [loading]="loading" styleClass="p-datatable-customers"
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="[
              'name',
              'country.name',
              'representative.name',
              'status'
            ]">
            <ng-template pTemplate="caption">
              <div class="d-flex justify-content-between">
                <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" placeholder="Search keyword"
                    (input)="dt2.filterGlobal($event.target.value, 'contains')" />
                </span>

                <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  </ng-template>
                </p-columnFilter>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th class="cell">sr#</th>
                <th class="cell">Profile Image</th>
                <th class="cell">Created at</th>
                <th class="cell">Active</th>
                <th class="cell">Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
              <tr>
                <td>
                  {{ rowIndex + 1 }}
                </td>
                <td>
                  <span class="image-text">
                    <img src="{{ item.picture }}" />
                  </span>
                </td>

                <td>
                  <span>{{ item.createdAt | date: "medium" }}</span>
                </td>

                <td>
                  <span>
                    <p-inputSwitch (input)="dt2.filterGlobal($event.target.value, 'contains')"></p-inputSwitch>
                  </span>
                </td>
                <td>
                  <span class="action-col">
                    <i class="mx-1 pi pi-pencil" (click)="editCollaborator(item)"></i>
                    <i class="pi pi-trash" (click)="OnDeleteRecord(item._id)"></i>
                    <!-- <i class="pi pi-eye"></i> -->
                  </span>
                </td>
              </tr>
            </ng-template>
            |

            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">No user found.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <!--//col-auto-->
    </div>
  </div>
  <p-dialog header="Header" [(visible)]="openCreateEditModal" [style]="{ width: '50vw' }" [baseZIndex]="10000">
    <p-header>
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          {{
          editCollaboratorData == undefined
          ? "Add New Collaborator"
          : "Update Collaborator"
          }}
        </h4>
      </div>
    </p-header>
    <app-add-collaborator (modalChange)="collaboratorModal(false)" [editCollaboratorData]="editCollaboratorData">
    </app-add-collaborator>
  </p-dialog>

  <p-confirmDialog appendTo="body" header="Confirmation" key="deleteAlert" [style]="{ width: '30vw' }"
    [baseZIndex]="10000" styleClass="dialog-filters"></p-confirmDialog>
  <p-toast></p-toast>
</div>
