/* You can add global styles to this file, and also import other style files */
@import "/src/minxin.scss";
@import "/src/variables.scss";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "~ngx-toastr/toastr";
// @import 'base';
// @import 'header';
// @import 'sidepanel';
// @import 'app';
// @import 'auth';

/* ============= Base ============= */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $theme-text-color-secondary;
  background: #f5f6fe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $theme-text-color-primary;
  font-weight: 600;
}

a {
  color: $theme-color-primary;
  text-decoration: none;
  &:hover {
    color: darken($theme-color-primary, 5%);
  }
}

hr {
  background: darken($theme-border-color, 20%);
}

.text-muted {
  color: lighten($theme-text-color-light, 10%) !important;
}

.table-dark {
  background: $theme-text-color-primary;
  color: #fff;
}

.table-bordered th,
.table-bordered td {
  border-color: $theme-border-color;
}

.table th,
.table td {
  border-color: $theme-border-color;
}

.table thead th {
  border-color: $theme-border-color;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $smoky-white;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: lighten($theme-text-color-primary, 20%);
}

.table-hover > tbody > tr:hover {
  background-color: lighten(#f5f6fe, 10%);
}

.popover {
  border-color: darken($theme-bg-light, 5%);
}
.bs-popover-left > .arrow::before,
.bs-popover-auto[x-placement^="left"] > .arrow::before {
  border-left-color: darken($theme-bg-light, 5%);
}
.bs-popover-right > .arrow::before,
.bs-popover-auto[x-placement^="right"] > .arrow::before {
  border-right-color: darken($theme-bg-light, 5%);
}
.bs-popover-top > .arrow::before,
.bs-popover-auto[x-placement^="top"] > .arrow::before {
  border-top-color: darken($theme-bg-light, 5%);
}
.bs-popover-bottom > .arrow::before,
.bs-popover-auto[x-placement^="bottom"] > .arrow::before {
  border-bottom-color: darken($theme-bg-light, 5%);
}

a.app-link {
  color: $theme-text-color-primary;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba($theme-text-color-primary, 0.3);
  text-decoration-color: rgba($theme-text-color-primary, 0.3);
  &:hover {
    color: $theme-color-primary;
    -webkit-text-decoration-color: rgba($theme-color-primary, 0.8);
    text-decoration-color: rgba($theme-color-primary, 0.8);
  }
}

button.close {
  &:focus {
    outline: none;
    @include box-shadow(none);
  }
}

.btn {
  font-weight: 600;
  padding: 0.4rem 1rem;
  font-size: 0.875rem;
  border: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
  .bi {
    position: relative;
    top: -2px;
  }
}

.btn:focus,
.btn.focus {
  box-shadow: none !important;
}

.app-btn-primary {
  background: $theme-color-primary;
  color: #fff;
  border-color: $theme-color-primary;
  border-radius: 50px !important;
  min-height: 43px;
  font-size: 16px;
  &:hover {
    color: #fff;
    background: lighten($theme-color-primary, 5%);
    border-color: lighten($theme-color-primary, 5%);
  }
}

.app-btn-secondary {
  background: white;
  color: $theme-text-color-secondary;
  border: 1px solid lighten($theme-text-color-secondary, 35%);
  &:hover {
    color: $theme-color-primary;
    border: 1px solid $theme-color-primary;
    background: white;
  }
}

.btn-light {
  background: $theme-bg-light;
  color: $theme-color-primary;
  &:hover {
    background: $theme-bg-light;
    color: $theme-color-primary;
  }
}

.form-control {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  height: 2.5rem;
  border-color: $theme-border-color;
  color: $theme-text-color-secondary;
  &:focus {
    @include box-shadow(none);
    outline: none;
    color: $theme-text-color-secondary;
  }
}

.form-check-input:checked {
  background-color: $theme-color-primary;
  border-color: $theme-color-primary;
}

.dropdown-menu {
  border-color: $theme-border-color;

  .dropdown-item {
    padding: 0.5rem 1rem;

    &:hover {
      color: $theme-text-color-primary;
    }
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    background: mix($theme-bg-light, white, 50%);
  }

  .dropdown-item.active,
  .dropdown-item:active {
    background: mix($theme-bg-light, white, 50%);
  }
}

.dropdown-divider {
  border-top-color: $theme-border-color;
  @include opacity(1);
}

.dropdown-toggle.no-toggle-arrow {
  &:after {
    display: none !important;
  }
}
input:not(.is-invalid) {
  border-color: #c7c8cd !important;
  // height: 48px;
}
input {
  border-radius: 10px !important;
}
input.form-control {
  height: 48px !important;
}
.is-invalid ~ .invalid-feedback {
  text-align: left;
}
.app-page-title {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 1.5rem;
}
.bg-primary {
  background-color: #ff1a1a !important;
}
.alertMessage {
  position: fixed;
  display: block;
  max-width: 337px;
  min-width: 250px;
  right: 0;
  z-index: 22;
  left: 0;
  margin: auto;

  padding: 8px;
  text-align: center;
  color: white;
  border-radius: 7px;
}
.alertMessage.error {
  background: #ba1111;
}
.alertMessage.success {
  color: #278a20;
}
.app-card {
  padding: 20px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}
.table thead th {
  border-color: #e7e9ed;
  border-top: 0;
}
// .modal-content {
//   width: 600px;
// }

.avatar-upload {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.avatar-upload .avatar-preview {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  border: 12px solid #fff;
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}

.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
//upload button css

.custom-file{
  input{
    opacity: 0;
    position: absolute;
  }
  .custom-file-label{
    border: 0;
    padding: 10px;
    background: red;
    color: white;
    min-height: 42px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    cursor: pointer;

    &::after{
      display: none;
    }
  }
}