.app-sidepanel {
  position: fixed;
  min-height: 100vh;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 0.875rem;
  border-right: 1px solid #e7e9ed;
  left: 0;
}
.app-sidepanel .sidepanel-inner {
  position: relative;
  z-index: 10;
  background: #191431;
  box-shadow: rgb(0 0 0 / 5%) 0px 8px 15px;
  width: 250px;
  height: 100%;
}
.app-branding {
  height: 70px;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  background: #15094e;
  box-shadow: 0px 1px 5px -1px black;
}
.app-branding .logo-icon {
  width: 180px;
}
.app-nav {
  color: #5d6778;
  display: block;
  padding: 0;
  width: 100%;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.app-nav .nav-item {
  display: block;
  color: #fff;
  background: transparent;
}
.app-nav .nav-link.active {
  color: #ff1a1a;
  background: #ffffffe6;
  border-left: 3px solid #ff1a1a;
  font-weight: 500;
}
.app-nav .nav-link {
  display: block;
  padding: 0.875rem 1rem;
  color: #fff;
  position: relative;
  display: block;
  padding-left: 3rem;
  border-left: 3px solid transparent;
}
.app-nav .nav-icon {
  position: absolute;
  left: 1rem;
  top: 0.7rem;
}
//top nav
.app-header {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  border-bottom: 1px solid #e7e9ed;
  height: 56px;
  background: #fff;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.search-input {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  height: 2.5rem !important;
  border-color: #e7e9ed;
  color: #5d6778;
}
.app-header-inner {
  margin-left: 250px;
}
.app-search-form {
  position: relative;
  max-width: 600px;
}
.app-search-form .search-input {
  font-size: 0.875rem;
  border-radius: 0.25rem;
  padding-right: 3rem;
  padding-left: 1rem;
}
.app-search-form .search-btn {
  color: #828d9f;
  background: none;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 0;
  padding: 0.5rem 1rem;
}
.app-utility-item {
  display: inline-block;
  margin-right: 1.25rem;
}
.app-utility-item .dropdown-toggle {
  position: relative;
}
.app-utility-item .icon {
  font-size: 1.25rem;
  width: 24px;
  height: 24px;
}
.app-utility-item .icon-badge {
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  right: -0.45rem;
  top: -0.3rem;
  width: 20px;
  height: 20px;
  font-size: 0.6rem;
  font-weight: bold;
  padding-top: 1px;
  color: #fff;
  text-align: center;
  background: #ec776c;
  border: 2px solid #fff;
}
.app-user-dropdown img {
  width: 36px;
  height: 36px;
}

// PROJECT STYLING

$border-radius: 3px;
$primary: #ffffff;
$active: #ff1a1a;
$animation: pulse;

.profile-dropdown {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background: $primary;
  margin: auto;
  font-weight: bold;
  height: 55px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */

  * {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
  }

  input[type="checkbox"] {
    display: none;
    &:checked {
      & ~ ul {
        display: block;
        animation: $animation 0.5s;
      }

      & ~ img {
        background: $active;
      }

      & ~ label {
        background: $active;

        i {
          color: $primary;
        }

        &:after {
          content: "";
          position: absolute;
          top: 100%;
          right: calc(50% - 10px);
          display: block;
          border-style: solid;
          border-width: 7px 10px 0 10px;
          border-color: $active transparent transparent transparent;
          width: 0;
          height: 0;
        }
      }
    }
  }

  img {
    display: inline-block;
    background: darken($primary, 10%);
    height: 2.1rem;
    vertical-align: middle;
    margin-right: 1rem;
    margin: 0.5rem 0.75rem 0.5rem 0.5rem;
    border-radius: 50%;
  }

  span {
    display: inline-block;
    vertical-align: sub;
    width: 125px;
    margin-right: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  ul {
    display: none;
    list-style: none;
    padding: 0;
    marrgin: 0;
    background: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    border-radius: $border-radius;

    li {
      a {
        display: block;
        padding: 0.75rem 1rem;
        text-decoration: none;
        color: darken($primary, 50%);
        font-size: 1rem;

        i {
          font-size: 1.55rem;
          vertical-align: middle;
          margin: 0 0.75rem 0 -0.25rem;
        }

        &:hover {
          background: darken($primary, 5%);
        }
      }

      &:first-child a:hover {
        border-radius: $border-radius $border-radius 0 0;
      }

      &:last-child a:hover {
        border-radius: 0 0 $border-radius $border-radius;
      }
    }
  }

  & > label {
    position: relative;
    height: 3.5rem;
    display: block;
    text-decoration: none;
    background: transparent;
    color: #333;
    box-sizing: border-box;
    padding: 0.9rem;
    float: right;
    border-radius: 0 $border-radius $border-radius 0;

    i {
      color: darken($primary, 25%);
      font-size: 1.55rem;
      vertical-align: middle;
    }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/// TEMPLATE STYLING
$background: #2c3e50;

body {
  background: $background;
  font-family: Lato;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin: 2rem 0 0;
  letter-spacing: 0.5rem;
}

.container {
  width: 80%;
  margin: 4rem auto 2rem;

  .half {
    width: 50%;
    float: left;
    margin-bottom: 2rem;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

p.subtitle {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  text-align: center;
  margin: 0.5rem 0 2rem;
  letter-spacing: 0.1rem;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.25;
  z-index: -1;
  background: url(https://ar1web-com.googlecode.com/svn/Bg/bg63.gif);
}
