<app-nav-bar></app-nav-bar>
<div class="app-wrapper">
  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="">
      <!-- <h1 class="app-page-title">Landing Page Works</h1> -->
      <div class="tab_panel">
        <div class="card">
          <p-tabView styleClass="tabview-custom">
            <!-- 1st Tab  -->
            <p-tabPanel>
              <ng-template pTemplate="header">
                <i class="pi pi-images"></i>
                <span class="mx-2">Landing Page Details</span>
              </ng-template>
              <div class="tab_form1">
                <!-- tab 1 form  -->
                <form class="form-box" [formGroup]="landingPageDetails" (ngSubmit)="onSubmit()">
                  <div class="bannerDetails">
                    <h4 class="bottom-border">Banner Details</h4>
                    <!-- Banner List -->
                    <div class="form-group content-sec" formArrayName="landingPage">
                      <div class="container" *ngFor="let item of landingBannerList.controls; let i = index"
                        [formGroupName]="i">
                        <div class="landingpage-wrapper">
                          <div class="landing-item">
                            <label>{{item.value.bannerTitle}}</label>
                            <div class="SliderImage1View">
                              <div class="avatar-upload">
                                <div class="avatar-edit-landing">
                                  <div class="avatar-preview-landing">
                                    <div id="imagePreview" [style.backgroundImage]="
                                        'url(' + item.value.bannerImage + ')'
                                      "></div>
                                  </div>
                                </div>
                              </div>
                              <div class="SliderImage1">
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="SliderImage1-input"
                                    placeholder="Select Silder First Image  " id="imageUpload"
                                    accept=".png, .jpg, .jpeg" (change)="uploadFile($event,i)" required />

                                  <label class="custom-file-label" for="SliderImage1-input">Upload image</label>
                                </div>
                              </div>
                            </div>
                            <label class="banner-title">Banner Title</label>
                            <textarea type="text" formControlName="bannerTitle" class="form-control"
                              placeholder=" Enter Banner Title" [ngClass]="{
                                'is-invalid':
                                  submitted && f?.bannerTitle?.errors
                              }"></textarea>
                            <div *ngIf="submitted && f.bannerTitle?.errors" class="invalid-feedback">
                              <div *ngIf="f.bannerTitle?.errors?.required">
                                Banner Title is required
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="AboutUsDetails">
                    <h4 class="bottom-border">About Page Details</h4>

                    <div class="form-group content-sec" formGroupName="aboutPageDetails">
                      <div class="container">
                        <div class="row py-3">
                          <div class="col-sm-12 col-md-4 py-1 my-2">
                            <div class="AboutImageView">
                              <div class="avatar-upload p-0">
                                <div class="avatar-edit-about">
                                  <div class="avatar-preview-about">
                                    <div id="imagePreview" [style.backgroundImage]="
                                        'url(' + f?.aboutPageDetails?.value?.aboutUsBannerImage + ')'
                                      "></div>
                                  </div>
                                </div>

                              </div>
                              <div class="custom-file mt-3">
                                <input type="file" class="custom-file-input" id="validatedCustomFile"
                                  placeholder="Select Silder Third Image  " accept=".png, .jpg, .jpeg"
                                  (change)="uploadAboutImage($event)" />

                                <label class="custom-file-label" for="validatedCustomFile">Upload image</label>
                              </div>
                            </div>

                          </div>
                          <div class="col-sm-12 col-md-8">
                            <!-- Title -->
                            <div class="about-us-heading pb-3">
                              <label>About us Title</label>
                              <input type="text" formControlName="bannerTitle" class="form-control"
                                placeholder="Enter AboutUs Heading" [ngClass]="{
                                  'is-invalid':
                                    submitted && f?.bannerTitle?.errors
                                }" />
                              <div *ngIf="submitted && f?.bannerTitle?.errors" class="invalid-feedback">
                                <div *ngIf="f.bannerTitle?.errors?.required">
                                  About us Title is required
                                </div>
                              </div>
                            </div>
                            <!-- Main Heading -->
                            <div class="about-us-heading pb-3">
                              <label>About us Heading</label>
                              <input type="text" formControlName="aboutUsMainHeading" class="form-control"
                                placeholder="Enter AboutUs Heading" [ngClass]="{
                                  'is-invalid':
                                    submitted && f.aboutUsMainHeading?.errors
                                }" />
                              <div *ngIf="submitted && f?.aboutUsMainHeading?.errors" class="invalid-feedback">
                                <div *ngIf="f.aboutUsMainHeading?.errors?.required">
                                  About us Heading is required
                                </div>
                              </div>
                            </div>
                            <!-- Sub Heading -->
                            <div class="about-us-subhead pb-3">
                              <label>AboutUs Sub Heading</label>
                              <input type="url" formControlName="aboutUsSubHeading" class="form-control"
                                placeholder="Enter About us sub heading" [ngClass]="{
                                  'is-invalid':
                                    submitted && f?.aboutUsSubHeading?.errors
                                }" />
                              <div *ngIf="submitted && f?.aboutUsSubHeading?.errors" class="invalid-feedback">
                                <div *ngIf="f.aboutUsSubHeading?.errors?.required">
                                  AboutUs SubHeading is required
                                </div>
                              </div>
                            </div>
                            <!-- Description -->
                            <div class="about-us-desc">
                              <label>About Us Text Description </label>
                              <textarea id="description" class="form-control descript" formControlName="aboutUsDetails"
                                rows="4" cols="50" [ngClass]="{
                                  'is-invalid':
                                    submitted && f?.aboutUsDetails?.errors
                                }">
                              </textarea>
                              <div *ngIf="
                                  submitted && f?.aboutUsDetails?.errors
                                " class="invalid-feedback">
                                <div *ngIf="f?.aboutUsDetails?.errors?.required">
                                  About Us description is required
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Footer Details -->
                  <div class="FooterSectionDetails">
                    <h4 class="bottom-border">Footer Section Details</h4>

                    <div class="form-group content-sec">
                      <div class="container" formGroupName="footerDetails">
                        <div class="row py-3">
                          <div class="col-sm-12 col-md-12">
                            <label>Footer Details</label>
                            <textarea id="description" class="form-control descript" formControlName="footerDetails"
                              rows="4" cols="50" [ngClass]="{
                                'is-invalid':
                                  submitted && f?.footerDetails?.errors
                              }">
                            </textarea>
                            <div *ngIf="submitted && f?.footerDetails?.errors" class="invalid-feedback">
                              <div *ngIf="f?.footerDetails?.errors?.required">
                                Footer Description is required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row pb-3">
                          <div class="col-sm-12 col-md-6">
                            <label>Footer PhoneNumber</label>
                            <input type="text" formControlName="footerPhone" class="form-control" [ngClass]="{
                                'is-invalid':
                                  submitted && f?.footerPhone?.errors
                              }" />
                            <div *ngIf="submitted && f?.footerPhone?.errors" class="invalid-feedback">
                              <div *ngIf="f?.footerPhone?.errors?.required">
                                Footer Phone Number is required
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group my-3 mt-4 d-flex justify-content-center">
                    <button type="submit" class="btn app-btn-primary w-50 theme-btn mx-auto my-3 mt-4">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </p-tabPanel>
            <!-- 2nd Tab  -->
            <p-tabPanel header="Social Links">
              <ng-template pTemplate="header">
                <i class="pi pi-user"></i>
                <span class="mx-2">Social Accounts Details</span>
              </ng-template>
              <app-social-account-details></app-social-account-details>
            </p-tabPanel>
            <!-- 3rd Tab  -->
            <p-tabPanel header="Header III">
              <ng-template pTemplate="header">
                <i class="pi pi-search"></i>
                <span class="mx-2">Terms & Conditions Details</span>
              </ng-template>
              <app-terms-conditions-details></app-terms-conditions-details>
            </p-tabPanel>
            <!-- 4rd Tab  -->
            <p-tabPanel header="Header IV">
              <ng-template pTemplate="header">
                <i class="pi pi-save"></i>
                <span class="mx-2">Privacy Policy Details</span>
              </ng-template>
              <app-privacy-policy></app-privacy-policy>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
    <!--//container-fluid-->
  </div>
</div>