.app-wrapper {
  margin-left: 250px;
  margin-top: 60px;
}
.app-card {
  position: relative;
  background: #fff;
  border-radius: 0.25rem;
}
.app-card-stat .stats-type {
  font-size: 0.875rem;
  color: #828d9f;
  text-transform: uppercase;
}
.app-card-stat .stats-figure {
  font-size: 2rem;
  color: #252930;
}
.app-card .app-card-header {
  border-bottom: 1px solid #e7e9ed;
}
.app-card .app-card-title {
  font-size: 1.125rem;
  margin-bottom: 0;
}
.form-select.form-select-sm {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
  margin-left: auto;
  border-radius: 5px;
  border-color: gainsboro;
}
a:hover {
  text-decoration: none;
}

.form-box {
  background-color: rgba(216, 216, 216, 0.5);
  margin: auto auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(151, 151, 151);
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Browse";
  background-color: #ff1a1a;
  color: #fff;
  font-size: 1.3vw;
  font-weight: 600;
}
input:read-only {
  cursor: no-drop;
}

.border-have {
  border: 1 px solid red;
}
.border-none {
  border: 2px solid yellow;
}

.bottom-border {
  border-bottom: 1px solid gray;
  padding-top: 10px;
  margin: 20px 0px;
}

.content-sec {
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
}
